<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lokey.student.web.mapper.BtfunctionMapper" >
  <resultMap id="BaseResultMap" type="com.lokey.student.web.model.Btfunction" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="modelid" property="modelid" jdbcType="VARCHAR" />
    <result column="functionid" property="functionid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, modelid, functionid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_btfunction
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_btfunction
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lokey.student.web.model.Btfunction" >
    insert into t_btfunction (id, name, modelid, 
      functionid)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{modelid,jdbcType=VARCHAR}, 
      #{functionid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lokey.student.web.model.Btfunction" >
    insert into t_btfunction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="modelid != null" >
        modelid,
      </if>
      <if test="functionid != null" >
        functionid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="modelid != null" >
        #{modelid,jdbcType=VARCHAR},
      </if>
      <if test="functionid != null" >
        #{functionid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lokey.student.web.model.Btfunction" >
    update t_btfunction
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="modelid != null" >
        modelid = #{modelid,jdbcType=VARCHAR},
      </if>
      <if test="functionid != null" >
        functionid = #{functionid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lokey.student.web.model.Btfunction" >
    update t_btfunction
    set name = #{name,jdbcType=VARCHAR},
      modelid = #{modelid,jdbcType=VARCHAR},
      functionid = #{functionid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_btfunction
  </select>
  <select id="selectByFunctionId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_btfunction
    where functionid = #{functionid,jdbcType=VARCHAR}
  </select>

</mapper>